<%- include("./partials/header") %>

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Profile</li>
        </ol>
    </div>
</div>

<div class="container">
    <h4>Username:</h4>
    <p><%- currentUser.username %></p>
    <h4>Full Name:</h4>
    <p><%- currentUser.firstName %></p>
    <h4>Email:</h4>
    <p><%- currentUser.email %></p>
    <h4>Phone No:</h4>
    <p><%- currentUser.phone %></p>
</div>

<%- include("./partials/footer") %>